
body {
  padding: 0;
  margin: 0;
  background-image: url("./assets/BG1.jpg");
  display: flex;
  align-items: center;
  justify-content: space-between
}
img{
  width: 450px;
  height: 450px;
  padding-left: 30%;
}

main {
  width: 50%;
  height: 100vh;
  margin-top: 50px; 
}